name: Build
on: [push]
jobs:
  buildWindows: # windows action build
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: krdlab/setup-haxe@v1
      with:
        haxe-version: 4.2.5
    - name: Set up Haxelib dependencies # gotta find out how to make it launch batch file
      run: |
        haxelib install flixel-addons --quiet
        haxelib install flixel-demos --quiet
        haxelib install flixel-templates --quiet
        haxelib install flixel-tools --quiet
        haxelib install flixel-ui --quiet
        haxelib install flixel --quiet
        haxelib install hxcpp --quiet
        haxelib install flxanimate --quiet
        haxelib install hscript --quiet
        haxelib install lime-samples --quiet
        haxelib install lime --quiet
        haxelib install openfl --quiet
        haxelib install haxeui-core --quiet
        haxelib install haxeui-flixel --quiet
        haxelib install newgrounds --quiet
        haxelib install hxCodec --quiet
        haxelib git polymod https://github.com/larsiusprime/polymod --quiet
        haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc --quiet
        haxelib git linc_luajit https://github.com/superpowers04/linc_luajit --quiet
        haxelib git flxanimate https://github.com/ShadowMario/flxanimate --quiet
    - name: Build project
      run: |
        haxelib run lime build windows
    - name: Uploading artifact
      uses: actions/upload-artifact@v2
      with:
        name: FunkinOutWindows
        path: export/release/windows/bin
